
.vistaHeader {
    height: 10em;
    
    background-color: blue;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 3em;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.linkLogin:hover{
    color: black;
    transition: 0.3s;
    margin-left: 2em;
}